.MuiTableCell-root.MuiTableCell-head {
    font-size: 1rem;
    font-weight: bold;
}

.load-row {
    display: flex;
    justify-content: center;

    .load-circle {
        width: 100px !important;
        height: 100px !important;
    }
}

.success {
    color: rgb(0, 196, 0);
}

.error {
    color: rgb(255, 0, 0);
}

.tooltip-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}