.MuiTableCell-root.MuiTableCell-head {
    font-size: 1rem;
    font-weight: bold;
}

.load-row {
    display: flex;
    justify-content: center;

    .load-circle {
        width: 100px !important;
        height: 100px !important;
    }
}